{{extend 'layout.html'}}

<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
              <h5>{{=response.title or request.application}}</h5>
            </div>
            <div class="widget-content">
            	{{if historial:}}
            	  <div class="well">
		  {{for h in historial:}}
		    {{if h.has_key('f_text'):}}
		    <h5>{{=h.f_user.username}} {{=h.f_created_at}}</h5>
		    <div>{{=h.f_text}}</div>
		    {{elif h.has_key('f_attachment'):}}
		    <h5>
		    {{=T('%s at %s uploaded a ') % (
		    	h.f_user.username,
		    	h.f_created_at,
		    )}}
		    {{=A(T('file'), _href=URL(c='default', f='download', args=[h.f_attachment]))}}
		    </h5>
		    {{pass}}
		  {{pass}}
		  </div>
		{{pass}}
                {{=comment_form}}
                {{=attachment_form}}
            </div>
        </div>
    </div>
</div>
